<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ring of Fire</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
        <div class="row">
            <div class="col-10"><h1>Ring of Fire!!</h1></div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-10"></div>
        </div>
        <div class="row">
            <div class="col-2">&nbsp;</div>
            <div class="col-2">
                <select class="selectpicker" id="date-select" onchange="filterCharts(this.id, this.value)">
                    <option>All</option>
                    <option>Past 7 Days</option>
                    <option>Past 15 Days</option>
                </select>
            </div>
            <div class="col-2">
                <select class="selectpicker" id="region-select" onchange="filterCharts(this.id, this.value)">
                    <option>All</option>
                    <option>North America</option>
                    <option>South America</option>
                    <option>Asia</option>
                    <option>ANZ</option>
                    <option>Other</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-10">
                    <div class="col-4">
                            <div id="map"></div>
                    </div>
                        <div class="col-4">
                                <div id="plot"></div>
                        </div>
            </div>
        </div>
    <script src="{{ url_for('static', filename='js/plots.js') }}"></script>
</body>
</html>
